@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/brand.css';

/* Spinner Animation */
.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border-left-color: #39d0c4; /* main brand color */
  animation: spin 1s linear infinite;
}

.spinner-sm {
    border: 2px solid rgba(255, 255, 255, 0.3);
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    border-left-color: #ffffff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}